@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;               /* Use flexbox layout */
    justify-content: flex-start; /* Align items to the left */
    align-items: center;         /* Center items vertically */
    width: 100%;                 /* Full width */
    height: 100vh;              /* Full height of the viewport */
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .App {
    flex: 1; /* This makes sure the main content takes the remaining space */
  }
  
  footer {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  